body {
  font-family: Helvetica, Arial, "san serif";
  color: powderblue;
  padding: 25px;
  font-size: 120%;
  width: 80%;
  margin: 10px;
  padding: 70px;
  background-color: black;
  border: outset 10px #123405;
  border-color: black;
  height: 270vh;

}

h1, h2 {
  font-family: Helvetica, Arial, "san serif";
  font-style: oblique;
}
#navbar {
  min-height: 40px;
  background-color:#E4F0F7;
  border-bottom: 5px solid #307248;
  padding: 5px 5px;
  position: sticky;
  top: 0;
}

#navbar a {
  display:inline-block;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#dropdown {
  display:inline-block;
  overflow: hidden;
}

#dropdown #dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#navbar a:hover, #dropdown:hover #dropbtn {
  background-color: #E4F0F7;
}

#dropcont {
  display: none;
  position: absolute;
  background-color: #E4F0F7;
  min-width: 160px;
  z-index: 1;
}

#dropcont  a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#dropcont  a:hover {
  background-color: #E4F0F7;
}

#dropdown:hover #dropcont {
  display: block;
